@import url('https://fonts.googleapis.com/css?family=Iceland');

* {
  border: none;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
}

html,
body,
#app {
  font-family: 'Iceland', cursive;
  font-size: 24px;
  height: 100%;
  user-select: none;
}
